/*
Blue: #25ABD9 (#8CD8EA)
Red: #E04D2B (#EC9682)
Green: #71D375 (#8AEA8D)
*/
html {
    width: 400px;
}
body {
    margin: 0;
    color: #25ABD9;
    font-family: serif;
    -webkit-user-select: none;
}
h1, h3 {
    font-family: sans-serif;
}
hr {
    margin: 18px 0 12px;
    border: 0;
    border-bottom: 1px dashed #25ABD9;
}
label {
    white-space: nowrap;
}
label span {
    vertical-align: top;
}
input[type="checkbox"], input[type="radio"] {
    margin: 3px 0 0 5px;
}
.red {
    color: #E04D2B;
}
.green {
    color: #71D375;
}
button {
    padding: 5px 8px;
    background-color: #FFFFFF;
    border: 1px solid #8CD8EA;
    color: #8CD8EA;
    cursor: pointer;
    font-family: sans-serif;
}
button:hover {
    background-color: #8CD8EA;
    color: #FFFFFF;
}
button:active {
    background-color: #25ABD9;
    border: 1px solid #25ABD9;
    color: #FFFFFF;
}
.red button {
    border: 1px solid #EC9682;
    color: #EC9682;
}
.red button:hover {
    background-color: #EC9682;
    color: #FFFFFF;
}
.red button:active {
    background-color: #E04D2B;
    border: 1px solid #E04D2B;
    color: #FFFFFF;
}
.green button {
    border: 1px solid #8AEA8D;
    color: #8AEA8D;
}
.green button:hover {
    background-color: #8AEA8D;
    color: #FFFFFF;
}
.green button:active {
    background-color: #71D375;
    border: 1px solid #71D375;
    color: #FFFFFF;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background-color: #FFFFFF;
}
::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
    border: 1px solid #8CD8EA;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8CD8EA;
}
::-webkit-scrollbar-thumb:active {
    background-color: #25ABD9;
    border: 1px solid #25ABD9;
}
#head {
    height: 60px;
    padding: 8px 4px 0;
    background-color: #FFFFFF;
}
#head #count {
    float: right;
    margin-right: 5px;
    color: #71D375;
}
#head img {
    float: left;
}
#head h1 {
    margin: 0;
}
#tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: sans-serif;
}
#tabs li {
    display: inline;
    margin-left: 5px;
    padding: 5px 8px;
    background-color: #FFFFFF;
    border: 1px solid #8CD8EA;
    border-bottom: 0;
    color: #8CD8EA;
    cursor: pointer;
}
#tabs li.select {
    position: relative;
    top: 1px;
    padding-top: 6px;
    border: 1px solid #25ABD9;
    border-bottom: 0;
    color: #25ABD9;
}
.tab {
    display: none;
}
#main {
    margin-top: 5px;
    padding: 12px 8px 8px;
    border-top: 1px solid #25ABD9;
}
#achievements {
    padding-right: 8px;
    max-height: 400px;
    overflow-y: scroll;
}
#achievements > div {
    border: 1px solid #8CD8EA;
    padding: 5px 8px;
    color: #8CD8EA;
}
#achievements div span {
    float: right;
    margin-top: 3px;
    font-size: 0.8em;
}
#achievements div h3 {
    margin: 0;
}
#achievements div p {
    margin: 0 0 2px;
}
#achievements div div.progress {
    margin: 5px 0;
    padding: 0;
    border: 1px solid #8CD8EA;
}
#achievements div div.progress div {
    height: 10px;
    background-color: #8CD8EA;
    border: 0;
}
#achievements div + div {
    margin-top: 10px;
}
#achievements div.achieved {
    border: 1px solid #71D375;
    color: #71D375;
}
#achievements div.achieved div.progress {
    border-color: #71D375;
}
#achievements div.achieved div.progress div {
    background-color: #71D375;
}
#stats {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
#stats li {
    padding-left: 1em;
    text-indent: -1em;
}
#stats li:before {
    content: "\25CB";
    padding-right: 5px;
}
#options {
    text-align: center;
}
#options div + div {
    margin-top: 10px;
}
#options h3, #options p {
    margin: 0 0 5px;
    text-align: center;
}
#options button {
    display: block;
    margin: 8px auto 5px;
}
