html {
    width: 400px;
}
body {
    margin: 0;
    color: #25ABD9;
    font-family: serif;
    -webkit-user-select: none;
}
button {
    padding: 5px 8px;
    background-color: white;
    border: 1px solid #8CD8EA;
    color: #8CD8EA;
    cursor: pointer;
    font-family: sans-serif;
}
button:hover {
    background-color: #8CD8EA;
    color: white;
}
button:active {
    background-color: #25ABD9;
    border: 1px solid #25ABD9;
    color: white;
}
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: white;
    border: 1px solid #8CD8EA;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #8CD8EA;
}
::-webkit-scrollbar-thumb:active {
    background-color: #25ABD9;
    border: 1px solid #25ABD9;
}
#head {
    height: 60px;
    padding: 8px 4px 0;
    background-color: white;
}
#head #count {
    float: right;
    margin-right: 5px;
    color: #71D375;
}
#head img {
    float: left;
}
#head h1 {
    margin: 0;
    font-family: sans-serif;
}
#tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    font-family: sans-serif;
}
#tabs li {
    display: inline;
    margin-left: 5px;
    padding: 5px 8px;
    background-color: white;
    border: 1px solid #8CD8EA;
    border-bottom: 0;
    color: #8CD8EA;
    cursor: pointer;
}
#tabs li.select {
    position: relative;
    top: 1px;
    padding-top: 6px;
    border: 1px solid #25ABD9;
    border-bottom: 0;
    color: #25ABD9;
}
#main {
    margin-top: 5px;
    padding: 12px 8px 8px;
    border-top: 1px solid #25ABD9;
}
#achievements {
    padding-right: 8px;
    max-height: 400px;
    overflow-y: scroll;
}
#achievements > div {
    border: 1px solid #8CD8EA;
    padding: 5px 8px;
    color: #8CD8EA;
}
#achievements div span {
    float: right;
    margin-top: 3px;
    font-size: 0.8em;
}
#achievements div h3 {
    margin: 0;
    font-family: sans-serif;
}
#achievements div p {
    margin: 0 0 2px;
    font-family: serif;
}
#achievements div div.progress {
    margin: 5px 0;
    padding: 0;
    border: 1px solid #8CD8EA;
}
#achievements div div.progress div {
    height: 10px;
    background-color: #8CD8EA;
    border: 0;
}
#achievements div + div {
    margin-top: 10px;
}
#achievements div.achieved {
    border: 1px solid #71D375;
    color: #71D375;
}
#achievements div.achieved div.progress {
    border-color: #71D375;
}
#achievements div.achieved div.progress div {
    background-color: #71D375;
}
#stats, #reset {
    display: none;
}
#stats {
    margin: 0;
    padding-left: 0;
    list-style: none;
}
#stats li {
    padding-left: 1em;
    text-indent: -1em;
}
#stats li:before {
    content: "\25CB";
    padding-right: 5px;
}
#reset p {
    margin: 0 0 5px;
    text-align: center;
}
#reset button {
    display: block;
    margin: 10px auto 5px;
}
